<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carros</title>
    <link rel="stylesheet" href="static\css\mythcar.css">
</head>
<body>
    <header>
        <h1>Leyendas Sobre Ruedas</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/mythcar">Catálogo</a>
            <a href="/proyectos">Proyectos</a>
            <a href="#">Asistencia Virtual</a>
        </nav>
    </header>

    <div class="description">
        <p>Bienvenidos al lugar donde los autos más legendarios y míticos cobran vida. A lo largo de la historia, ciertos coches han dejado una huella imborrable en el mundo de la automoción, ya sea por su diseño revolucionario, sus impresionantes victorias en competiciones o sus innovadoras configuraciones técnicas. En este espacio, exploramos cada uno de estos modelos, analizando su evolución, los desafíos que enfrentaron y cómo se convirtieron en verdaderas leyendas sobre ruedas. Además, profundizamos en sus especificaciones técnicas, sus logros más destacados y las historias que los convirtieron en íconos de la mecánica. Únete a nosotros y revive la emoción de estos vehículos que han marcado un antes y un después en el mundo del motor.</p>
    </div>

    <div class="galery">
        <div class="car-container">
            <h1>VW Beetle</h1>
            <img src="static\img\Vwbeetleantes.jfif" alt="beetle Antes"> 
            <img src="static\img\beetleahora.jfif" alt="Beetle Ahora">
            <p>
                <strong>Vw beetle type 1</strong>
                <br>
                Tipo de motor: Motor bóxer (flat-four), refrigerado por aire.
                <br>
                Cilindrada: 1.1 L (1,100 cc)
                <br>
                Potencia: Aproximadamente 25 hp (caballos de fuerza) en los primeros modelos.
                <br>
                Torque máximo: 78 Nm (58 lb-ft) a 2,200 rpm.
            </p>
        </div>
        
        <div class="car-container">
            <h1>Ferrari F40</h1>
            <img src="static\img\f40.jfif" alt="F40">
            <p>
                <strong>Motor F40 diseñado por Enzo Ferrari</strong>
                <br>
                Motor: V8 de 2.936 cc, tipo F120 A Biturbo 
                <br>
                Potencia: 478 CV (471 HP; 352 kW) 
                <br>
                Par motor: 577 N·m (426 lb·pie) 
                <br>
                Velocidad máxima: 324 km/h 
                <br>
                Aceleración de 0 a 100 km/h: 4,1 segundos 
                <br>
                Peso: 1.100 kg
            </p>
        </div>
    
        <div class="car-container">
            <h1>Ford F150 Raptor</h1>
            <img src="static\img\f150.jpg" alt="Raptor">
            <p>
                <strong>Motor F150 raptor 2025</strong>
                <br>
                Motor: 3.5L Bi-Turbo V6. 
                <br>
                Potencia: 450Hp, 510 Lb-pie
                <br>
                Velocidad máxima: 250 km/h 
                <br>
                Aceleración de 0 a 100 km/h: 4.0 segundos
                <br>
                Peso: 3244 kg
            </p>
        </div>
    
        <div class="car-container">
            <h1>Dodge Charger</h1>
            <img src="static\img\chargerantes.jfif" alt="Charger antes">
            <img src="static\img\chargerahora.jfif" alt="Charger Ahora">
            <p>
                <strong>Motor Charger Srt Hellcat</strong>
                <br>
                Motor: Supercargado HEMI® V8 de 6.2L
                <br>
                Potencia: 797 HP
                <br>
                Aceleración 0-100km/h: 3,6 segundos
                <br>
                Velocidad máxima: 326 km/h
                <br>
                <strong>Logros</strong>
                <ul>
                    <li>1970 NASCAR, Ganador</li>
                    <li>NASCAR Modifieds, Podios</li>
                    <li>Drag Racing, Podios</li>
                </ul>
            </p>
        </div>
    
        <div class="car-container">
            <h1>Chevrolet Camaro</h1>
            <img src="static\img\camarotransfomers.jpg" alt="Camaro de transformers">
            <img src="static\img\camaroahora.jpeg" alt="Camaro ahora">
            <p>
                <strong>Camaro Exorcist Zl1</strong>
                <br>
                Motor: 6.2L supercargado V8
                <br>
                Potencia: 1013 HP
                <br>
                Aceleración 0-100km/h: 2.7 segundos
                <br>
                Velocidad Maxima: 349 km/h
            </p>
        </div>
    
        <div class="car-container">
            <h1>Ford Mustang</h1>
            <img src="static\img\mustangantes.jpg" alt="Mustang clasico">
            <img src="static\img\shelby.jpg" alt="gt500">
            <p>
                <strong>Mustang Shelby GT500</strong>
                <br>
                Motor: 5.2L supercargado V8
                <br>
                Potencia: 760 HP
                <br>
                Torque: 625 lb-pie a 5,000 rpm
                <br>
                Aceleración 0-100km/h: 3.5 segundos
                <br>
                Velocidad máxima: 325 km/h
            </p>
        </div>
    
        <div class="car-container">
            <h1>Ford GT40</h1>
            <img src="static\img\gt40.jpg" alt="GT40">
            <p>
                <strong>GT40</strong>
                <br>
                Motor: V8 de 5.4 litros
                <br>
                Potencia: 550 hp
                <br>
                Aceleración 0-100km/h: 7.8 segundos
                <br>
                Velocidad Maxima: 348 km/h
                <br>
                <strong>LOGROS</strong>
                <ul>
                    <li>24 Horas de Le Mans, 4 campeonatos seguidos</li>
                    <li>12 Horas de Sebring, 2 victorias</li>
                    <li>1000 km de Monza, 1 victoria</li>
                    <li>1000 km de Spa, 1 victoria</li>
                    <li>6 Horas de Watkins Glen, 1 victoria</li>
                    <li>1000 km de Brands Hatch, 1 victoria</li>
                    <li>24 Horas de Daytona, 1 victoria</li>
                    <li>2000 km de Daytona, 1 victoria</li>
                </ul>
            </p>

        </div>

        <div class="car-container">
            <h1>Audi R10</h1>
            <img src="static\img\r10.jpg" alt="Audi r10 le mans">
            <p>
                <strong>Audi R10 TDI</strong>
                <br>
                Motor: 5,5 L V12 
                <br>
                Potencia: 659 HP
                <br>
                Torque: 1100 Nm
                <br>
                Aceleración 0-100km/H: 3.4 segundos
                <br>
                Velocidad Maxima: +300 km/h
                <br>
                <strong>Logros</strong>
                <ul>
                    <li>
                        24 Horas de Le Mans, 3 victorias consecutivas
                    </li>
                </ul>
            </p>
        </div>

        <div class="car-container">
            <h1>ACURA NSX</h1>
            <p>
                <Strong>Acura NSX 1991</Strong>
                <br>
                Motor: 3.0 L  V6
                <br>
                Potencia: 266 HP
                <br>
                Torque: 285Nm
                <br>
                Aceleración 0-100km/h: 5.9 s
                <br>
                Velocidad Maxima: 5.9 segundos
                <strong>Logros</strong>
                <ul>
                    <li>24 Horas de le Mans, 1 victoria en su categoria</li>
                </ul>
            </p>
        </div>

        <div class="car-container">
            <h1>Chevrolet Corvette ZR1</h1>
            <img src="static\img\zr1.jpg" alt="ZR1">
            <p>
                <strong>ZR1</strong>
                <br>
                Motor: biturbo V8 de 5.5 L 
                <br>
                Potencia: 1.064 HP
                <br>
                Torque: 828 Pie-Lb
                <br>
                Aceleración 0-100Km/H:  2.9 segundos
                <br>
                Velocidad Maxima: 375 km/h
            </p>
        </div>

        <div class="car-container">
            <h1>Subaru Impreza WRX STI</h1>
            <img src="static\img\subaru.jpg" alt="WRX">
            <p>
                <strong>WRX STI</strong>
                <br>
                Motor: 2.5 L  Boxer 4 cilindros turbo
                <br>
                Potencia: 300 HP
                <br>
                Torque: 407 Nm
                <br>
                Aceleración 0-100km/h: 5,2 segundos
                <br>
                Velocidad Maxima: 255 km/h
            </p>

        </div>

    </div>
    
</body>
</html>