<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carros Miticos</title>
    <link rel="stylesheet" href="static/css/proyectos.css">
    <link rel="icon" href="static\img\Logo.ico">
</head>
<body>
    <header>
        <h1>Leyendas Sobre Ruedas</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/mythcar">Catálogo</a>
            <a href="/proyectos">Proyectos</a>
            <a href="#">Asistencia Virtual</a>
        </nav>
    </header>

    <h1>Sube tu proyecto!</h1>

    <div class="center">
        <div class="highlight">
            <a href="{{ url_for('upload_page') }}">
                Subir un Proyecto
            </a>
        </div>
    </div>

    <h2>Proyectos:</h2>
    <div class="card-container">
        {% for image in images %}
        <div class="card">
            <!-- Imagen del proyecto -->
            <img src="{{ url_for('get_img', id=image.id) }}" alt="{{ image.name }}">
            
            <!-- Información del proyecto -->
            <div class="card-content">
                <h3>{{ image.project_name }}</h3>
                <p><strong>Motor:</strong> {{ image.motor }}</p>
                <p><strong>Potencia:</strong> {{ image.power }}</p>
                <p><strong>Aceleración:</strong> {{ image.acceleration }}</p>
                <p><strong>Velocidad Máxima:</strong> {{ image.top_speed }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
