<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carros Miticos</title>
    <link rel="stylesheet" href="static/css/proyectos.css">
</head>
<body>
    <header>
        <h1>Leyendas Sobre Ruedas</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/mythcar">Catálogo</a>
            <a href="/proyectos">Proyectos</a>
            <a href="#">Asistencia Virtual</a>
        </nav>
    </header>

    <h1>Sube tu proyecto!</h1>

    <div class="center">
        <div class="highlight">
            <a href="{{ url_for('upload_page') }}">
                Subir un Proyecto
            </a>
        </div>
    </div>

    <h2>Proyectos:</h2>
    <div class="image-gallery">
        {% for image in images %}
            <div class="image-item">
                <img src="{{ url_for('get_img', id=image.id) }}" alt="{{ image.name }}" style="max-width: 200px; max-height: 200px; margin: 10px;">
                <p>{{ image.name }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
