<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carros Miticos</title>
    <link rel="stylesheet" href="static\css\proyectos.css">
</head>
<body>
    <header>
        <h1>Leyendas Sobre Ruedas</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/mythcar">Catálogo</a>
            <a href="/proyectos">Proyectos</a>
            <a href="#">Asistencia Virtual</a>
        </nav>
    </header>

</body>
</html>