<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <link rel="stylesheet" href="static/css/mainpage.css">
</head>
<body>
    <header>
        <h1>Leyendas Sobre Ruedas</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/mythcar">Catálogo</a>
            <a href="/proyectos">Proyectos</a>
            <a href="#">Asistencia Virtual</a>
        </nav>
    </header>

    <div class="container">
        <section class="highlight">
            <h2>Términos y Condiciones</h2>
            <p>Al acceder y utilizar el sitio web de Leyendas Sobre Ruedas, aceptas cumplir con los siguientes términos y condiciones:</p>

            <h3>1. Uso del Sitio</h3>
            <p>Este sitio web es para uso personal y no comercial. No debes utilizar el sitio de manera ilegal o de una forma que pueda dañar su funcionamiento o interferir con otros usuarios.</p>

            <h3>2. Subida de Proyectos</h3>
            <p>Cuando subes un proyecto, garantizas que tienes los derechos para compartir dicho contenido. Aceptas que el contenido que subas puede ser visualizado por otros usuarios y ser utilizado en nuestro sitio para fines promocionales.</p>

            <h3>3. Propiedad Intelectual</h3>
            <p>Todo el contenido del sitio, incluidos textos, imágenes y logotipos, son propiedad de Leyendas Sobre Ruedas o sus respectivos propietarios. No puedes reproducir, distribuir ni modificar este contenido sin permiso expreso.</p>

            <h3>4. Modificaciones del Sitio</h3>
            <p>Nos reservamos el derecho de modificar, suspender o eliminar cualquier parte del sitio en cualquier momento y sin previo aviso.</p>

            <h3>5. Limitación de Responsabilidad</h3>
            <p>No seremos responsables por daños directos o indirectos que puedan resultar del uso o mal uso del sitio. El uso de este sitio es bajo tu propio riesgo.</p>

            <h3>6. Terminación</h3>
            <p>Podemos suspender o finalizar tu acceso al sitio en cualquier momento si violas estos términos y condiciones o por cualquier otro motivo a nuestra discreción.</p>

            <h3>7. Ley Aplicable</h3>
            <p>Estos términos y condiciones se rigen por las leyes de Colombia. Cualquier disputa será resuelta bajo la jurisdicción de los tribunales colombianos.</p>
        </section>
    </div>

    <footer>
        <p>Redes Sociales: <a href="https://www.instagram.com/leyendas.sobre.ruedas/">Instagram</a> | <a href="https://www.facebook.com/profile.php?id=61570013714619">Facebook</a> | <a href="#">Twitter</a></p>
        <p>Contacto: soporte@leyendassobreruedas.com</p>
        <p><a href="/politica">Política de Privacidad</a></p>
    </footer>
</body>
</html>
